<%
    var title;
    var postList = [];
    if (page.category) {
        site.categories.forEach(function(item) {
            if(item.name === page.category) {
                postList = item.posts.slice();
            }
        });
        title = page.category;
    }
    else if (page.tag) {
        site.tags.forEach(function(item) {
            if(item.name === page.tag) {
                postList = item.posts;
            }
        });
        title = page.tag;
    } else {
        postList = site.posts;
    }
%>

<% if(title) { %>
	<h2><%- title %></h2>
<% } %>
<section class="tiles">
	<% postList.each(function(item, index){ %>
		<%- partial('_partial/article-index', {item: item, index: index}) %>
	<% }); %>
</section><!-- end main -->


