<!DOCTYPE html>
<html lang="de">

<!-- Head tag -->
<%- partial('_partial/head') %>

<body>

    <div id="wrapper">

        <!-- Menu -->
        <%- partial('_partial/menu') %>

        <div id="main">
            <div class="inner">

                <!-- Main Content -->
                <%- body %>

            </div>
        </div>

        <%- partial('_partial/footer.ejs') %>
    </div>

    <!-- After footer scripts -->
    <%- partial('_partial/after-footer') %>

</body>

</html>
