<h1 class="title"><%- item.title || theme.default_post_title || "Untitled" %></h1>
<% if(item.cover_detail || theme.default_cover_detail) { %>
<span class="image main"><img src="<%- item.cover_detail || theme.default_cover_detail %>" alt="" /></span>
<% } %>

<!-- Gallery
<% if (item.photos && item.photos.length){ %>
<%- partial('gallery') %>
<% } %>
 -->
 
<!-- Content -->
<%- item.content %>

<!-- Comments
<div>
    <%- partial("_partial/comments.ejs") %>
</div>
 -->
