
<% if(theme.show_dates) { %>
    <h1 class="title"><%- item.title || theme.default_post_title || "Untitled" %></h1>
    <div class="meta">
        <%= item.date.format(config.date_format) %>, <%- readingTime(page.content, 'minutes reading time') %>
        <% if(item.translator) { %>
            , Translator: <a href="<%- item.translatorLink %>"><%- item.translator %></a>
        <% } %>

    </div>
<% } else { %>
    <h1><%- item.title || theme.default_post_title || "Untitled" %></h1>
<% } %>
<% if(item.cover_detail || theme.default_cover_detail) { %>
    <span class="image main"><img src="<%- item.cover_detail || theme.default_cover_detail %>" alt="" /></span>
<% } %>

<!-- Content -->
<%- item.content %>

<!-- Amazon Disclaimer -->
<% if (item.amazon){ %>
    <%- partial('amazon-disclaimer') %>
<% } %>

<!-- Tags -->
<%- partial('article-tags') %>

<!-- Comments
<div>
    <%- partial("_partial/comments.ejs") %>
</div>
 -->
