<!-- Footer -->
<footer id="footer">
    <div class="inner">
        <section>
            <h2>About</h2>
            <div>
                <%- theme.about_footer %>
            </div>
        </section>
        <section>
            <h2>Follow</h2>
            <ul class="icons">
                <% if (theme.twitter_url) { %>
                    <li><a href="<%- theme.twitter_url %>" class="icon style2 fa-twitter" target="_blank" rel="nofollow"><span class="label">Twitter</span></a></li>
                <% } %>
                <% if (theme.twitter_user) { %>
                    <li><a href="https://twitter.com/<%- theme.twitter_user %>/" class="icon style2 fa-twitter" target="_blank" rel="nofollow"><span class="label">Twitter</span></a></li>
                <% } %>
                <% if (theme.facebook_url) { %>
                    <li><a href="<%- theme.facebook_url %>" class="icon style2 fa-facebook" target="_blank" rel="nofollow"><span class="label">Facebook</span></a></li>
                <% } %>
                <% if (theme.instagram_url) { %>
                    <li><a href="<%- theme.instagram_url %>" class="icon style2 fa-instagram" target="_blank" rel="nofollow"><span class="label">Instagram</span></a></li>
                <% } %>
                <% if (theme.dribble_url) { %>
                    <li><a href="<%- theme.dribble_url %>" class="icon style2 fa-dribbble" target="_blank" rel="nofollow"><span class="label">Dribbble</span></a></li>
                <% } %>
                <% if (theme.github_url) { %>
                    <li><a href="<%- theme.github_url %>" class="icon style2 fa-github" target="_blank" rel="nofollow"><span class="label">GitHub</span></a></li>
                <% } %>
                <% if (theme.googleplus_url) { %>
                    <li><a href="<%- theme.googleplus_url %>" class="icon style2 fa-google-plus" target="_blank" rel="nofollow"><span class="label">Google+</span></a></li>
                <% } %>
                <% if (theme.behance_url) { %>
                    <li><a href="<%- theme.behance_url %>" class="icon style2 fa-behance" target="_blank" rel="nofollow"><span class="label">Behance</span></a></li>
                <% } %>
                <% if (theme.fivehundredpx_url) { %>
                    <li><a href="<%- theme.fivehundredpx_url %>" class="icon style2 fa-500px" target="_blank" rel="nofollow"><span class="label">500px</span></a></li>
                <% } %>
                <% if (theme.email_url) { %>
                    <li><a href="<%- theme.email_url %>" class="icon style2 fa-envelope-o" target="_blank" rel="nofollow"><span class="label">Email</span></a></li>
                <% } %>
                <% if (theme.rss_url) { %>
                    <li><a href="<%- theme.rss_url %>" class="icon style2 fa-rss" target="_blank" rel="nofollow"><span class="label">RSS</span></a></li>
                <% } %>
                <% if (theme.youtube_url) { %>
                    <li><a href="<%- theme.youtube_url %>" class="icon style2 fa-youtube" target="_blank" rel="nofollow"><span class="label">YouTube</span></a></li>
                <% } %>
            </ul>
        </section>
        <ul class="copyright">
			<li>&copy; H&auml;fner Technology GbR. All rights reserved</li>
            <li>Design: <a href="http://html5up.net" target="_blank" rel="nofollow">HTML5 UP</a></li>
            <li>Hexo: <a href="http://www.codeblocq.com/" target="_blank" rel="nofollow">Jonathan Klughertz</a></li>
			<li>Icon made by <a href="http://www.flaticon.com/authors/google" title="Google" rel="nofollow">Google</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></li>
        </ul>
    </div>
</footer>
