<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--Description-->
    <%
        var description = "";
		if (page.description) {
            description = page.description;
		} else if (config.description) {
            description = config.description;
		} else if (page.excerpt) {
            description = strip_html(page.excerpt).replace(/^\s*/, '').replace(/\s*$/, '');
        } else if (page.content) {
            description = strip_html(page.content).replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 150);
        }
    %>
    <meta name="description" content="<%= description %>">

    <!--Author-->
    <% if (config.author){ %>
        <meta name="author" content="<%= config.author %>">
    <% } %>

    <%
        var base_url = config.url;
        if (config.url.charAt(config.url.length - 1) !== '/') base_url += '/';
        var canonical = base_url + page.canonical_path.replace('index.html', '')
    %>
    <!-- Canonical -->
    <link rel="canonical" href="<%= canonical %>"/>

    <!-- Robots -->
    <meta name="robots" content="index, follow">

    <!--Open Graph Type-->
    <% if (page.tags){ %>
        <meta property="og:type" content="article"/>
    <% } else { %>
        <meta property="og:type" content="website"/>
    <% } %>
    <!--Open Graph Title-->
    <% if (page.title){ %>
        <meta property="og:title" content="<%= page.title %>"/>
    <% } %>
    <!--Open Graph Site Name-->
    <meta property="og:site_name" content="<%= config.title %>"/>
    <!--Open Graph Page Cover-->
    <% if(page.cover) { %>
        <meta property="og:image" content="<%= page.cover %>" />
    <% } else { %>
        <meta property="og:image" content="<%= theme.cover %>"/>
    <% } %>
    <!--Open Graph Url-->
    <meta property="og:url" content="<%= canonical %>"/>

    <!--Twitter Card-->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@<%= theme.twitter_user %>">
    <meta name="twitter:title" content="<%= page.title %>">
    <meta name="twitter:description" content="<%= description %>">

    <!-- Title -->
    <%
        var title = [];
        if (page.current > 1) title.push(__('page', page.current));
        if (page.title && page.title !== config.title) title.push(page.title);
        if (page.category) title.push(page.category);
        if (page.tag) title.push(page.tag);
        if (page.archive) {
            if (page.year) title.push(__('archive_b', page.year + (page.month ? '/' + page.month : '')));
            else title.push(__('archive_a'));
        }
        title.push(config.title);
    %>
    <title><%= title.join(' - ') %></title>

    <!-- Custom CSS -->
    <%- css('sass/main.css') %>

    <!--[if lt IE 8]>
        <%- js('js/ie/html5shiv.js') %>
    <![endif]-->

    <!--[if lt IE 8]>
        <%- css('sass/ie8.css') %>
    <![endif]-->

    <!--[if lt IE 9]>
        <%- css('sass/ie9.css') %>
    <![endif]-->
</head>

